
section{
    height: 400px;
    background-image: url(' /static/images/background.jpg');
    background-repeat:no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
}

